html, body{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
    color: #0C154A;
    /* font-weight: 300; */
}

/* h1, .h1{
    font-size: 4.5rem;
}

h2, .h2{
    font-size: 4rem;
}

h3, .h3{
    font-size: 3.75rem;
}

h4, .h4{
    font-size: 3.5rem;
}

h5, .h5{
    font-size: 3.25rem;
} */

.mono{
    font-family: monospace;
}

.bg-grey{
    background: #F7F7F7;
}

.btn-blue {
    background: #0C154A;
    font-weight: 500;
    font-size: .75rem;
    color: white;
    padding: .75rem 1.25rem;
    border-radius: 2rem;
}
.btn-blue:hover {
    color: white!important;
    background-color: #2039CC;
    box-shadow: 0 12px 24px -6px rgba(55,118,255,.2);
}

/* Navbar */
.scrolled {
    box-shadow: 0 12px 24px -6px rgba(55,118,255,.2);
    background: white;
}
.navbar-brand, .nav-link{
    color: #000!important;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 25px!important;
}
button.navbar-toggler {
    padding: 0;
    border: 0;
    font-size: 1.5rem;
}


section{
    padding: 6rem 0;
}

.title-icon{
    max-width: 80px;
    margin-top: -9px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
}

.navbar-brand {
    /* display: none; */
    background: #2039CC;
    color: white!important;
    padding: 5px 10px!important;
    border-radius: 3px;
}

@media (max-width: 768px){
    main {
        margin-top: 60px;
    }
    #navBar{
        box-shadow: 0 12px 24px -6px rgba(55,118,255,.2);
        background: white;
    }
    /* .navbar-brand {
        background: #2039CC;
        color: white!important;
        padding: 5px 10px!important;
        border-radius: 3px;
    } */
    .nav-link {
        padding: 10px 15px!important;
    }
    .title{
        font-size: 1.4rem;
    }
    .title-icon{
        max-width: 60px;
        border-radius: 15px;
    }
}

/* Hero */
#hero {
    background: url("../img/designer.png") no-repeat right center;
    background-size: contain;
    min-height: 75vh;
}

.hero-content .mono {
    font-size: 1.7rem;
    min-height: 53px;
}

#typeSub span{
    display: none;
}

.clip-path {
    -webkit-clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
}

.hero-content {
    background: #ffffffc2;
}

dl, dd {
    font-family: monospace;
}

dt {
    float: left;
    color: #969696;
    text-transform: uppercase;
    letter-spacing: 1px;
}

dd {
    margin: 0;
    padding-left: 8rem;
}

.social-icons a {
    margin-right: 5px;
}

.social-icons a img {
    max-width: 35px;
}

@media (max-width: 768px){
    #hero {
        min-height: 60vh;
    }
}


/* Resume */
.small-title {
    font-size: 1rem;
    font-weight: 700;
    color: #848484;
    letter-spacing: 2px;
}

.resume-item {
    border-left: 2px solid #0C154A;
    padding-left: 25px;
    padding-bottom: 50px;
}

.resume-item:before {
    width: 12px;
    height: 12px;
    border: 2px solid #0C154A;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: 10px;
}

.resume-title {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    color: #0C154A;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.resume-date {
    font-size: .8rem;
    line-height: .8rem;
    color: #808080;
    margin: 10px 0;
}

.resume-desc {
    font-size: 1rem;
    line-height: 1.5rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    font-family: monospace;
    text-align: center;
    margin-right: 1rem;
}

.skill-item img {
    max-width: 80px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
}

@media (max-width: 768px){
    .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .skill-item {
        margin-right: 0;
    }
}

@media (max-width: 576px){
    .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .skill-item {
        margin-right: 0;
    }
}


/* Project */
.project {
    border: none;
    border-radius: 6px;
    transition: box-shadow .3s;
    text-decoration: none;
    color: unset;
}

.project:hover {
    box-shadow: 0 8px 60px 0 rgba(103,151,255,.11), 0 12px 90px 0 rgba(103,151,255,.11);
    text-decoration: none;
    color: unset;
}

.card-img {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
    height: 100%;
}

.card-body {
    padding: 2rem 2rem 1.25rem 1.25rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5rem;
}

.card .small-title {
    color: #0C154A;
    font-weight: 500;
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tags li {
    font-size: .725rem;
    box-shadow: 0 1px 4px rgba(0,0,0,.14);
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}


/* Poem Section */
.poem p {
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-style: italic;
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next, .slick-prev {
    top: 2%;
}

.slick-next {
    right: -30px;
}

.slick-prev {
    left: -44px;
}

@media (max-width: 768px){
    .slick-prev {
        left: -22px;
        z-index: 1;
    }
    .slick-next {
        right: 6px;
    }
}




/* Footer */
.form-control {
    border: 2px solid #e3e7f2;
    border-radius: 24px;
}